@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --body-backgroundColor: rgb(0, 0, 0);
  --backgroundColor-gray: rgb(50, 50, 50);
  --primay-color: #8072e6;
  --font-color: white;
  --blue-backgroundColor: #ccc5fe;
  --font-color-secondary: rgb(197, 196, 196);
  --gray-light: rgb(23, 23, 23);
  --star-color: rgb(255, 170, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7px;
}

body {
  overflow-x: hidden;
  background-color: var(--body-backgroundColor);
}
.heroSliderImage{
  height: 52vh;
}
.SilderDetailSection h1{
  word-spacing: .5rem;
}

/* -------------------------------------------------------inputBox-------------------------------------------------------- */
.inputBox input{
  margin-left: .5rem;
  margin-top: 1rem;
  width: 95%;
  font-size: 1rem;
  color: var(--font-color);
  padding: .8rem 1rem .8rem 2rem;
  border-radius: .5rem;
  border: 1px solid var(--primay-color);
  background-color: transparent;
}

/* -------------------------------------------------------ProfileDetailSection-------------------------------------------------- */
.ProfileDetailSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.UserDetailSection h2 {
  letter-spacing: .05rem;
  font-size: 1.5rem;
  color: var(--font-color);
}

.UserDetailSection h2 span {
  padding-left: .2rem;
  font-size: .9em;
}

.UserDetailSection p {
  margin-top: .2rem;
  word-spacing: .3rem;
  font-size: .75rem;
  color: var(--font-color-secondary);
}

.UserProfileSection img {
  border-radius: 50%;
}

/* ----------------------------------------------------------NavbarContainer-------------------------------------------- */
.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  color: var(--font-color);
  width: 90%;
  margin-left: 5%;
  position: fixed;
  bottom: 1rem;
  left: 0;
  border-radius: 2rem;
  z-index: 1000;
  background-color: var(--gray-light);
}


/* ---------------------------------------------------------NavbarPaticularSection--------------------------------------------- */
.NavbarPaticularSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.NavbarContainer:nth-child(2) {
  background-color: var(--primay-color);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.NavbarPaticularSection .Text {
  margin-top: .1rem;
  font-size: .75rem;
}

.navsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .1rem;
}

.Different {
  color: var(--font-color);
}

/* -------------------------------------------------SecondSliderFeacture-------------------------------------------- */
.InfoSliderCard img {
  border-radius: .5rem
}

/* -----------------------------------------------TourSection---------------------------------------- */
.TourTextSection {
  color: var(--font-color);
  margin-top: 1rem;
  margin-bottom: .8rem;
  margin-left: 1rem;
}

/* -----------------------------------------------Button--------------------------------------------- */
.Button button {
  background-color: var(--body-backgroundColor);
  color: var(--font-color);
  border-radius: 1rem;
  font-size: 1.3rem;
  padding: 1rem .5rem;
}

/* ---------------------------------------------checkOutContainer------------------------------------------------ */
.checkOutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-left: 1.5%;
  border-radius: 1rem;
  flex-direction: column;
  color: var(--font-color);
  padding: 2rem .5rem;
  margin-top: 2rem;
  text-align: center;
  background-color: var(--backgroundColor-gray);
}

.checkOutContainer h3 {
  padding-bottom: 1rem;
}


/* -------------------------------------------------------------ShowCaseSection-------------------------------------------- */
.plateFormHeaderSection {
  margin-top: 2rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background-color: var(--backgroundColor-gray);
  padding-bottom: 1rem;
}

.plateFormHeaderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--font-color);
  flex-direction: column;
}

.plateFormHeaderSection .UpperPart {
  display: flex;
}

.plateFormHeaderSection .UpperPart .firstOne {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black-color);
  margin-left: 1.5rem;
  padding-top: 2rem;
}

.plateFormHeaderSection .UpperPart .firstOne span {
  display: block;
  margin-left: 2.6rem;
}

.plateFormHeaderSection .UpperPart .reportText {
  margin-left: 1rem;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 3rem;
}

.plateFormHeaderSection .lowerPart {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /* margin-top: 1rem; */
}

.plateFormHeaderSection .lowerPart p:first-child {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 48%;
}

.plateFormHeaderSection .lowerPart p:nth-child(2) {
  display: flex;
  padding-left: 7%;
  font-size: 1.1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  flex-basis: 462px;
  color: var(--gray-color);
}

/* ---------------------------------------------------------RecommendedComponent----------------------------------- */
.RecommendedComponent {
  margin-top: 1.5rem;
  color: var(--font-color);
}

.RecommendedComponent h2 {
  margin-bottom: .8rem;
  margin-left: 1rem;
}

.RecommendedTextSection {
  position: absolute;
  top: 80%;
  color: var(--font-color);
  left: 10%;
  font-weight: 700
}

/* ---------------------------------------------------------QuerySection-------------------------------------------------- */
.QuerySection {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 3rem;
  color: var(--font-color);
  margin-bottom: 8rem;
}

.QuerySection p {
  margin-top: .5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--gray-color);
}

.QuerySection textarea {
  width: 95%;
  margin-left: .5rem;
  margin-top: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--primay-color);
  border-radius: .5rem;
  color: var(--backgroundColor-gray);
  padding: .5rem .5rem;

}

.QueryButton {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5rem 2rem;
  color: var(--font-color);
  border-radius: .5rem;
  background-color: var(--primay-color);
}

.sepration {
  margin-top: 3rem;
  background-color: var(--primay-color);
  height: .02rem;
  margin-left: 10%;
  width: 80%;
  display: block;
}

.QuerySection h5 {
  text-align: center;
  margin-top: 2rem;
  color: var(--gray-light);
  font-size: .8rem;
}


/* ----------------------------------------------------checkOutSlot---------------------------------------------------------- */
.checkOutSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  color: var(--font-color);
  background: var(--backgroundColor-gray);
  padding: .5rem 1rem;
  margin: 1rem .5rem;
}

.checkOutSlot .firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  margin-top: .1rem;
}

.secondSection input {
  font-size: 1rem;
  width: 100%;
  color: var(--font-color);
  padding: .5rem 1rem;
  padding-right: 2rem;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  border: 2px solid var(--primay-color);
  background-color: transparent;
}

.secondSection {
  display: flex;
  margin-top: 1rem;
}

.checkOutButton {
  background-color: var(--primay-color);
  color: var(--font-color);
  font-size: 1rem;
  border-top-right-radius: 1.5rem;
  padding: .6rem .7rem;
}

.seprations {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--primay-color);
  height: .02rem;
  width: 80%;
  display: block;
}

.explore button {
  color: var(--font-color);
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: .5rem;
  border-radius: .5rem;
  background-color: transparent;
  border: 2px solid var(--primay-color);

}

.checkOutSlot p {
  word-spacing: .2rem;
  font-size: 1rem;
}

.checkOutSlot h4 {
  color: green;
  margin-top: .8rem;
}

/* -----------------------------------------------------------NavbarPagesContainer-------------------------------------- */
.NavbarPagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--font-color);
  padding: 1.3rem;
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px var(--backgroundColor-gray);
}

.NavbarLeftSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.NavbarLeftSection p {
  margin-left: 20%;
}

/* -----------------------------------------------------------BannerSection-------------------------------------------------- */
.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
  margin-left: 1.2rem;
  margin-right: 1rem;
  position: relative;
  border-radius: 1.5rem;
}

.Banner img {
  border-radius: 1.5rem;
  width: 100%;
}

.Banner .textSection {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90%;
  background-color: var(--font-color);
  width: 100%;
  color: var(--backgroundColor-gray);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

/* --------------------------------------------------------------------detailPage------------------------------------ */
.DetailPage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: var(--font-color);
}

.textSections {
  padding: 2rem 1rem;
}

.contactDetail {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.contactDetail a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: rgb(226, 223, 223);
}

.DetailPage .star {
  margin-top: .5rem;
  font-size: .8rem;
  letter-spacing: .2rem;
  color: var(--star-color);
}

.BookSlot button {
  background: transparent;
  padding: .8rem 2rem;
  width: 90%;
  margin-left: 5%;
  border-radius: .5rem;
  background-color: var(--primay-color);
  color: var(--font-color);
}

.DetailPageButtonSection {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  left: 0;
}

.DetailPage .cont {
  margin-top: 2rem;
  margin-left: 35%;
}

.seprationss {
  margin-left: 10%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--primay-color);
  height: .02rem;
  width: 80%;
  display: block;
}

/* -------------------------------------------------------------------slotDateCard-------------------------------------- */
.slotDateCard {
  text-align: center;
  line-height: 1.5;
  padding: .5rem .77rem;
  color: var(--font-color);
}
 .active {
  color: var(--font-color);
  background-color: var(--primay-color);
}
.dateRow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.seprationssss {
  /* margin-top: 6.23rem; */
  background-color: var(--backgroundColor-gray);
  height: .02rem;
  width: 100%;
  display: block;
}
/* -----------------------------------------------SlotPageSection------------------------------------------------------- */
.SlotPageSection .header{
  margin-top: 1rem;
  padding-left: 26%;
}
.SlotPageSection .header span{
  color: var(--primay-color);
}

/* ----------------------------------------------------PaticularTimeSlotCard-------------------------------------------------- */
.PaticularTimeSlotCard p{
  font-size: 1rem;
  font-weight: 900;
  padding-left: 40%;
  color: var(--body-backgroundColor);
}
.PaticularTimeSlotCard p:first-child{
  padding-top: 6rem;
  font-size: 1.5rem;
}

/* ------------------------------------------------------------------BookingStepsTemplat--------------------------------------------- */
.BookingTextSection {
  width: 100%;
  top: 40%;
  background-color: var(--body-backgroundColor);
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  position: absolute;
  border-width: 2px 0 0; /* 2px top border, 0 right, 0 bottom, 0 left */
  border-style: solid;
  border-color: var(--primay-color) transparent transparent; /* Top border color, transparent for right, bottom, and left */
}

.BookingHeaderSection{
  padding: .5rem 4rem;
  border-radius: 2rem;
  display: inline-block;
  border: 2px solid var(--primay-color);
  font-size: 1.5rem;
  position: relative;
  left: 22%;
  bottom: 1.5rem;
  background-color: var(--body-backgroundColor);
}
.BookingInfoSection{
  margin-top: 1.5rem;
  font-weight: 600;
  padding-left: 13%;
}
.BookingInfoSection p:first-child{
font-size: 1.5rem;
word-spacing: .2rem;
}
.BookingInfoSection p:nth-child(2){
  margin-top: .7rem;
font-size: 1.1rem;
word-spacing: .2rem;
}
.BookingInfoSection p:nth-child(3){
  margin-top: .7rem;
font-size: 1.1rem;
word-spacing: .2rem;
}
.BookingInfoSection p:nth-child(4){
  margin-top: .7rem;
font-size: 1.1rem;
word-spacing: .2rem;
}
.BookingInfoSection p:nth-child(5){
  margin-top: .7rem;
  line-height: 1.8rem;
font-size: 1.1rem;
word-spacing: .2rem;
}
.BookingInfoSection span{
  font-size: 1rem;
  color:rgb(174, 174, 174);
}
.BookingTextSectionButton{
  position: fixed;
  bottom: 5%;
  left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.UserDeatil{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.UserDeatil .userDetailInput{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.PaymentMethod{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100;
  padding: 0rem 1rem;
}

.PaymentBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  background-color: var(--backgroundColor-gray);
}
.PaymentBox p{
  margin-top: .7rem;
  font-weight: 800;
}
.differentMethod{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.PaymentMethod .select{
  font-size: 1rem;
  color:red;
  letter-spacing: .1rem;
  margin-top: 1.5rem;
}
.success{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 2.5rem;
  flex-direction: column;
}
.success span{
  color: var(--primay-color);
  margin-left: 27%;
  display: block;
}
.success img {
  filter: blur(0px 10px 5px green); /* Adjust the values as needed */
  margin-top: 1.5rem;
}
