/* ----------------------------------------------------AdminPage css------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root {
  --body-backgroundColor: rgb(0, 0, 0);
  --backgroundColor-gray: rgb(50, 50, 50);
  --primay-color: #8072e6;
  --font-color: white;
  --background-blue-color-: #ccc5fe19;
  /* --blue-backgroundColor: #fec5f200; */
  --font-color-secondary: rgb(197, 196, 196);
  --gray-light: rgb(23, 23, 23);
  --star-color: rgb(255, 170, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--font-color);
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7px;
}

body {
  overflow-x: hidden;
  overflow-x: hidden;
  background-color: var(--body-backgroundColor);

}


/* ------------------------------------------------AdminNavbar --------------------------------------------------------- */
.AdminNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.1rem;
}

.AdminNavbarRightSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.AdminNavbarRightSection .alert {
  text-align: center;
  font-size: .7rem;
  font-weight: 900;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(255, 111, 0);
  display: block;
  position: relative;
  left: 2.7rem;
  color: var(--font-color);
  bottom: .7rem;
  cursor: pointer;
}

.AdminNavbarRightSection .fa-bell {
  cursor: pointer;
}

.AdminNavbarRightSection .help {
  background-color: var(--background-blue-color-);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: .9rem;
}

.AdminNavbarRightSection .helpIcon {
  font-size: .9rem;
  margin-right: .3rem;
  display: inline-block;
  height: 1.5rem;
  font-weight: 800;
  width: 1.5rem;
  padding-top: .1rem;
  text-align: center;
  border: 2px solid var(--primay-color);
  border-radius: 50%;
}

.AdminNavbarRightSection img {
  cursor: pointer;
  border-radius: 50%;
}


/* ----------------------------------------------UserBookingDataGraphSection------------------------------------- */
.UserBookingDataGraphSection {
  margin-left: 5%;
  padding: 1rem;
  width: 100%;
  color: #8072e6;
  border-radius: 1rem;
  background-color: rgb(87, 87, 87);
}

/* -----------------------------------------------BookingNumberSection------------------------------------------------- */
.BookingRecord {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.BookingNumberSection .BookingNumberSectionBox {
  margin-left: .5rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  display: inline-block;
  border-radius: 1rem;
  background-color: var(--background-blue-color-);
}

.BookingNumberSection .BookingNumberSectionBox p:first-child {
  font-size: 1.2rem;
}

.BookingNumberSection .BookingNumberSectionBox p:nth-child(2) {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.BookingNumberSection .BookingNumberSectionBox p span {
  font-size: 1.5rem;
}


/* ----------------------------------------------------------------MuiTabs-scroller-------------------------------------------------- */
.MuiPaper-root {
  background-color: var(--background-blue-color-) !important;
}

.css-19kzrtu {
  padding: 0 !important;
}

/* -------------------------------------------------BookingSlotMeter-------------------------------------------------------------- */
.BookingSlotMeter {
  padding-top: 1.5rem;
  width: 95%;
  display: inline-block;
  padding-left: 3.1rem;
  height: 230px;
  overflow-y: hidden;
  margin-left: .8rem;
  border-radius: 1rem;
  background-color: var(--background-blue-color-);
}

/* .speedometer {
  height: 200px !important;
} */

/* -------------------------------------------------------AdPoster--------------------------------------------------------------- */
.AdPoster {
  margin-top: 1rem;
  width: 100%;
}

.AdPoster img {
  height: 15vh;
  border-radius: .5rem;
  width: 100%;
}

.DashBoardRecommendeSection {
  width: 100%;
}

.react-swipeable-view-container div {
  overflow-y: hidden;
  overflow-x: hidden;
}

.css-1ujnqem-MuiTabs-root {
  background-color: var(--body-backgroundColor) !important;
}

.slick-track {
  overflow-y: hidden !important;
}

/* -----------------------------------Editing OfferSection------------------------ */
.Editing {
  overflow-y: hidden;
}

.OfferSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  flex-direction: column;
}

.textSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.textSection img {
  position: relative;
  left: 2rem;
}

.OfferSection input {
  width: 90%;
  border-radius: .5rem;
  padding: 1rem 2.5rem;
}

/* -------------------------------------------EnquireUserContainer------------------------------------ */
.EnquirePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.EnquirePage .heading {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.EnquireUserContainer {
  width: 90%;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-blue-color-);
}

.EnquireUserContainer div {
  font-size: 1rem;
  color: var(--primay-color);
}

.EnquireUserContainer p:nth-child(2) {
  font-size: 1.3rem;
}

.EnquireUserContainer p:nth-child(3) {
  font-size: 1rem;
}

.EnquireUserContainer p:nth-child(4) {
  font-size: 1rem;
}

.EnquireUserContainer p:nth-child(5) {
  /* margin-top: .5rem; */
  /* text-align: center; */
  color: gray;
  font-size: 1.2rem;
}

.reply {
  margin-top: .5rem;
  margin-left: 65%;
}

.reply i {
  margin-right: 1rem;
}

.replyContainer {
  border-radius: 1rem;
  width: 93%;
  word-spacing: .2rem;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--background-blue-color-);
}

.replyHeaderSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.replyHeaderSection i {
  color: red;
  font-size: 1.2rem;
}

.replyContainer p {
  margin-bottom: 1rem;
}

.replyContainer textarea {
  padding: .5rem 1rem;
  font-size: 1rem;
  color: var(--font-color);
  border: 1px solid var(--primay-color);
  background-color: transparent;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.replyButton {
  margin-top: 1rem;
  margin-left: 50%;
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid var(--primay-color);
  padding: 1rem 2rem;
  transition: .2s linear;
}

.replyButton:hover {
  background-color: var(--primay-color);
  color: var(--font-color);
}

.searchBoxContainer {
  display: flex;
  padding-right: 1rem;
  align-items: center;
  width: 100%;
}

.searchBoxContainer {
  position: relative;
}

.searchBoxContainer i {
  position: absolute;
  left: 2rem;
  top: 1.8rem;
  z-index: 1000;
  /* top: 2rem;
  left: 2rem;
  bottom: .5rem; */
}

.EnquirePage input {
  font-size: 1rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  align-items: center;
  padding: .6rem 1rem .6rem 2.5rem;
  border: 1px solid var(--primay-color);
  background-color: transparent;
  margin-bottom: rem;
}

/* --------------------------------------loader------------------------------------ */
.loader {
  margin-top: 10rem;
  width: 65px;
  height: 90px;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--primay-color);
  box-shadow: 0 0 0 50px;
  clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);
  ;
}

.loader:after {
  animation: l8 1s infinite;
  transform: perspective(300px) translateZ(0px)
}

@keyframes l8 {
  to {
    transform: perspective(300px) translateZ(180px);
    opacity: 0
  }
}

/* -----------------------------------------------RegisterButton---------------------------------------------------------- */
.RegisterButton {
  border-radius: 2rem;
  padding: .7rem 2.5rem;
  font-size: 1.2rem;
  width: 35vw;
  background-color: transparent;
  color: var(--font-color);
  transition: .3s linear;
}

/* --------------------------------------------LoginPage-------------------------------------------------- */
.LoginPage {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url("https://lh3.googleusercontent.com/p/AF1QipOaaF2egrX4r7B8H6y5OGng6QEnISABTLGcbXZX=w1080-h608-p-no-v0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.LoginPage .loginHeaderSection {
  padding-top: 8rem;
}

.LoginPage .loginHeaderSection h1 {
  line-height: 1.7rem;
  font-size: 2rem;
  font-weight: 900;
  color: var(--body-backgroundColor);
}

.LoginPage .loginHeaderSection h1 span {
  display: block;
  font-size: 2rem;
  color: var(--body-backgroundColor);
}

.LoginPage .loginHeaderSection p {
  margin-top: 1rem;
  font-size: 1rem;
  padding-left: .5rem;
  font-weight: 900;
  color: var(--body-backgroundColor);
}

.textSection {
  padding-top: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 30%;
  /* height: 60vh; */
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  background-color: var(--body-backgroundColor);
}

.diffrentPageOption {
  /* position: absolute; */
  display: flex;
  padding: .4rem;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  top: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  background-color: var(--gray-light);
}

.RegisterButton.active button {
  background-color: var(--backgroundColor-gray);
  color: white;
  border: 2px solid var(--backgroundColor-gray);
}


/* -------------------------------------------------------------LoginPageSection------------------------------------------------------- */
.inputSection {
  width: 80%;
}

.LoginPageSection {
  margin-top: 2rem;
  width: 100%;
}

.NextButton button {
  margin-left: 12%;
  width: 80%;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: .5rem 4rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--primay-color);
}

.NextButton button i {
  margin-left: 1rem;
}

.inputSection p {
  margin-left: 20%;
  margin-top: 1rem;
  word-spacing: .2rem;
  font-size: 1rem;
}

.mobileNumberLogin {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 15%;
  width: 70%;
  border-radius: 2rem;
  padding: .9rem 1rem;
  background-color: var(--gray-light);
}

.mobileNumberLogin span {
  margin-left: 3rem;
}

.caption .captiontext {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  word-spacing: .2rem;
}


/* ------------------------------------------------------------AdminProfile------------------------------------------------------- */
.AdminProfile {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("https://images.pexels.com/photos/7174/summer-grass.jpg?cs=srgb&dl=pexels-free-nature-stock-7174.jpg&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: relative;
}

.AdminDetailSection {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 80%;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  background-color: var(--body-backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap:20px; */
}

.ProfileImageSection {
  position: relative;
  left: 50px;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 50%;
  background-color: var(--gray-light);
}
.ProfileImageSection .profileImage{
  border-radius: 50%;
}
.ProfileImageSection i{
  position: absolute;
  bottom: .5rem;
  right: .2rem;
  font-weight: bolder;
  font-size: 1.7rem;
  cursor: pointer;
}
.imageUrlInput{
  width: 100%;
}
.imageUrlInput input{
  font-size: 1rem;
  padding: .5rem 1rem .5rem 3rem;
  border-radius: .5rem;
  border: 1px solid var(--primay-color);
  background-color: transparent;
}
.imageUrlInput img{
  position: relative;
left: 2rem;
top: 3px;
}
.adminDetailTextSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  line-height: 2rem;
  gap: 50px;
}
.adminDetailTextSection h1{
  margin-bottom: 1rem;
}
.adminDetailTextSection p{
  font-size: 1rem;
  color: var(--font-color-secondary);
}
.adProfile{
 background-color: var(--primay-color) !important;
  padding: .5rem 2rem ;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius:.5rem ;
  background-color: transparent;
}
.adProfile:hover{
  background-color: #4b4292 !important;
}


/* ------------------------------------------------ProfileSection------------------------------------------------ */
.ProfileSection {
  color: var(--font-color);
  position: fixed;
  bottom: -50%;
  left: 0;
  height: 30%;
  width: 100%;
  padding: 1rem 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  transition: .3s linear ;
  background-color: black !important;
}
.ProfileSection.active{
  bottom: 0;
}
.ProfieDetailSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ProfileImage{
  border-radius: 50%;
  background-color: var(--backgroundColor-gray);
}
.ProfileImage img{
  border-radius: 50%;
}
.UserDetail{
  line-height: 1.7rem;
  margin-left: 1rem;
}
.UserDetail .UserName{
  font-size: 1.2rem;
  font-weight: 900;
}
.UserDetail .mobileNumber{
  font-size: 1.1rem;
  font-weight: 800;
  margin-left: .2rem;
}
.UserDetail .EditButton{
  margin-top: .7rem;
  padding: .1rem .7rem;
  padding-left: 15%;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  border-radius: 2rem;
  border:1px solid var(--primay-color);
  cursor: pointer;
}
.UserDetail .EditButton i{
  margin-left: .2rem;
  margin-right: .7rem;
}
.seprationTwoDiv{
  margin-top: 1.5rem;
  background-color: var(--primay-color);
  height:.5px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2rem;
}
.adminImageSection{
  cursor: pointer;
}

/* ------------------------------------------------------UserApprove----------------------------------------------------------- */
.UserApprove{
  margin: 1rem;
  border-radius: 2rem;
  background-color: var(--gray-light);
}
.UserApprove .accpetAndDenySection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding:1rem 2rem;
}