/* ----------------------------------------------------AdminPage css------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root {
  --body-backgroundColor: rgb(0, 0, 0);
  --backgroundColor-gray: rgb(50, 50, 50);
  --primay-color: #8072e6;
  --font-color: white;
  --background-blue-color-: #ccc5fe19;
  /* --blue-backgroundColor: #fec5f200; */
  --font-color-secondary: rgb(197, 196, 196);
  --gray-light: rgb(23, 23, 23);
  --star-color: rgb(255, 170, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--font-color);
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7px;
}

body {
  overflow-x: hidden;
  overflow-x: hidden;
  background-color: var(--body-backgroundColor);

}


/* ------------------------------------------------AdminNavbar --------------------------------------------------------- */
.AdminNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.1rem;
}

.AdminNavbarRightSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.AdminNavbarRightSection .alert {
  text-align: center;
  font-size: .7rem;
  font-weight: 900;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(255, 111, 0);
  display: block;
  position: relative;
  left: 2.7rem;
  color: var(--font-color);
  bottom: .7rem;
}

.AdminNavbarRightSection .help {
  background-color: var(--background-blue-color-);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: .9rem;
}

.AdminNavbarRightSection .helpIcon {
  font-size: .9rem;
  margin-right: .3rem;
  display: inline-block;
  height: 1.5rem;
  font-weight: 800;
  width: 1.5rem;
  padding-top: .1rem;
  text-align: center;
  border: 2px solid var(--primay-color);
  border-radius: 50%;
}

.AdminNavbarRightSection img {
  border-radius: 50%;
}

/* ----------------------------------------------UserBookingDataGraphSection------------------------------------- */
.UserBookingDataGraphSection {
  margin-left: 5%;
  padding: 1rem;
  width: 100%;
  color: #8072e6;
  border-radius: 1rem;
  background-color: rgb(87, 87, 87);
}

/* -----------------------------------------------BookingNumberSection------------------------------------------------- */
.BookingRecord {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.BookingNumberSection .BookingNumberSectionBox {
  margin-left: .5rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  display: inline-block;
  border-radius: 1rem;
  background-color: var(--background-blue-color-);
}

.BookingNumberSection .BookingNumberSectionBox p:first-child {
  font-size: 1.2rem;
}

.BookingNumberSection .BookingNumberSectionBox p:nth-child(2) {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.BookingNumberSection .BookingNumberSectionBox p span {
  font-size: 1.5rem;
}


/* ----------------------------------------------------------------MuiTabs-scroller-------------------------------------------------- */
.MuiPaper-root {
  background-color: var(--background-blue-color-) !important;
}

.css-19kzrtu {
  padding: 0 !important;
}

/* -------------------------------------------------BookingSlotMeter-------------------------------------------------------------- */
.BookingSlotMeter {
  padding-top: 1.5rem;
  width: 95%;
  display: inline-block;
  padding-left: 3.1rem;
  height: 230px;
  overflow-y: hidden;
  margin-left: .8rem;
  border-radius: 1rem;
  background-color: var(--background-blue-color-);
}

/* .speedometer {
  height: 200px !important;
} */

/* -------------------------------------------------------AdPoster--------------------------------------------------------------- */
.AdPoster {
  margin-top: 1rem;
  width: 100%;
}

.AdPoster img {
  height: 15vh;
  border-radius: .5rem;
  width: 100%;
}

.DashBoardRecommendeSection {
  width: 100%;
}

.react-swipeable-view-container div {
  overflow-y: hidden;
  overflow-x: hidden;
}

.css-1ujnqem-MuiTabs-root {
  background-color: var(--body-backgroundColor) !important;
}
.slick-track{
  overflow-y: hidden !important;
}

/* -----------------------------------Editing OfferSection------------------------ */
.Editing{
  overflow-y: hidden;
}
.OfferSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  flex-direction: column;
}

.textSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.textSection img {
  position: relative;
  left: 2rem;
}

.OfferSection input {
  width: 90%;
  border-radius: .5rem;
  padding: 1rem 2.5rem;
}

/* -------------------------------------------EnquireUserContainer------------------------------------ */
.EnquirePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.EnquirePage .heading {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.EnquireUserContainer {
  width: 90%;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-blue-color-);
}

.EnquireUserContainer div {
  font-size: 1rem;
  color: var(--primay-color);
}

.EnquireUserContainer p:nth-child(2) {
  font-size: 1.3rem;
}

.EnquireUserContainer p:nth-child(3) {
  font-size: 1rem;
}

.EnquireUserContainer p:nth-child(4) {
  font-size: 1rem;
}

.EnquireUserContainer p:nth-child(5) {
  /* margin-top: .5rem; */
  /* text-align: center; */
  color: gray;
  font-size: 1.2rem;
}

.reply {
  margin-top: .5rem;
  margin-left: 65%;
}

.reply i {
  margin-right: 1rem;
}

.replyContainer {
  border-radius: 1rem;
  width: 93%;
  word-spacing: .2rem;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--background-blue-color-);
}
.replyHeaderSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.replyHeaderSection i{
  color: red;
  font-size: 1.2rem;
}
.replyContainer p {
  margin-bottom: 1rem;
}
.replyContainer textarea {
  padding: .5rem 1rem;
  font-size: 1rem;
  color: var(--font-color);
  border: 1px solid var(--primay-color);
  background-color: transparent;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.replyButton{
  margin-top: 1rem;
  margin-left: 50%;
  background-color: transparent;
  border-radius: .5rem;
  border: 1px solid var(--primay-color);
  padding: 1rem 2rem;
  transition: .2s linear;
}
.replyButton:hover{
  background-color:var(--primay-color);
  color: var(--font-color);
}
.searchBoxContainer{
  display: flex;
  padding-right: 1rem;
  align-items: center;
  width: 100%;
}
.searchBoxContainer{
  position: relative;
}
.searchBoxContainer i{
  position: absolute;
left: 2rem;
top: 1.8rem;
  z-index: 1000;
  /* top: 2rem;
  left: 2rem;
  bottom: .5rem; */
}
.EnquirePage input{
  font-size: 1rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  align-items: center;
  padding: .6rem 1rem .6rem 2.5rem;
  border: 1px solid var(--primay-color);
  background-color: transparent;
  margin-bottom: rem;
}

/* --------------------------------------loader------------------------------------ */
.loader {
  margin-top: 10rem;
  width: 65px;
  height: 90px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--primay-color);    
  box-shadow: 0 0 0 50px;
  clip-path: polygon(100% 0, 23% 46%, 46% 44%, 15% 69%, 38% 67%, 0 100%, 76% 57%, 53% 58%, 88% 33%, 60% 37%);;
}
.loader:after {
  animation: l8 1s infinite;
  transform: perspective(300px) translateZ(0px)
}
@keyframes l8 {
  to {transform:perspective(300px) translateZ(180px);opacity:0}
}